In [1]:
# import pandas lib as pd 
import pandas as pd 
import numpy as np
import plotly.express as px
import plotly.graph_objects as go
from scipy import stats
import stemgraphic

In [4]:
student_table = '../../data/raw/Student_Table.xlsx'
summary_df = pd.read_excel(student_table)
summary_df

,ID,School Enrolled,Months Enrolled,Birthday Month,Distance to Work (whole miles),Height (whole inches),Foot Size (whole inches),Hand Size (whole inches),Sleep (minutes),Homework (minutes)
0,1,Arts and Sciences,12,January,0,60,8,5,360,30
1,2,Applied Science and Technology,6,February,0,62,7,6,400,45
2,3,Business and Management,8,April,5,66,10,7,420,60
3,4,Nursing,10,June,10,68,12,8,440,15
4,5,Public Service,48,July,15,68,14,8,540,75
5,6,Arts and Sciences,48,June,30,70,12,9,480,120
6,7,Applied Science and Technology,36,October,32,72,11,8,320,80
7,8,Applied Science and Technology,32,November,36,75,14,7,440,60
8,9,Applied Science and Technology,15,December,37,77,13,9,420,60
9,10,Applied Science and Technology,7,July,12,62,8,6,420,60
10,11,Applied Science and Technology,5,July,22,69,11,8,420,30
11,12,Arts and Sciences,12,March,1,65,9,7,420,90
12,13,Applied Science and Technology,6,April,6,69,10,7,390,105
13,14,Arts and Sciences,1,April,12,67,9,7,480,120
14,15,Applied Science and Technology,15,December,14,71,11,8,420,60
15,16,Applied Science and Technology,6,March,0,68,10,9,480,30
16,17,Applied Science and Technology,48,January,38,71,12,7,420,45
17,18,Applied Science and Technology,12,May,0,69,11,8,360,60
18,19,Arts and Sciences,3,July,0,75,14,8,510,90
19,20,Nursing,3,August,6,62,7,6,420,90
20,21,Business and Management,24,February,8,72,12,7,420,150
21,22,Business and Management,4,November,35,77,12,8,420,90
22,23,Applied Science and Technology,24,February,8,72,12,7,420,150